{% extends "base.html" %}

{% load wagtailcore_tags wagtailuserbar wagtailimages_tags %}

{% block content %}
  {% image page.specific.image fill-300x200 as img %}
  <div class="card" style="width: 18rem;">
    <img src="{{ img.url }}" class="card-img-top" src="..." alt="Card image cap" alt="{{ img.alt }}" width="400" height="400">
    <div class="card-body">
      <h5 class="card-title">{{ page.title }}</h5>
      <p class="card-text">{{ page.text | richtext }}</p>
      <p class="card-text">{{ page.summary }}</p>
      <a href="{{ page.get_parent.url }}" class="btn btn-primary">Return to blog<a></p>
    </div>
  </div>
{% endblock content %}